@import '_null';

@mixin nameOfMixin($fz: 40) {
	font-size: $fz;
}

$title-color: rgb(217, 217, 217);
$main-white: rgb(255, 255, 255);
$main-black: rgba(0, 0, 0, 0.3);

body {
	background: rgb(26, 26, 26);
	font-family: 'Helvetica Neue';
}

// ------------------------------------------------
.header {
	// .header__body

	&__body {
		position: relative;
	}
	&__content {
		position: absolute;
		display: flex;
		justify-content: space-between;
		height: 90px;
		align-items: center;
		border-bottom: 2px solid rgba(255, 255, 255, 0.1);
		width: 100%;
	}

	// .header__logo

	&__logo {
	}

	// .header__menu

	&__menu {
		display: flex;
		padding-right: 10px;
	}

	// .header__item

	&__item {
		&:nth-child(1) {
			margin-right: 45px;
		}
		&:nth-child(2) {
			margin-right: 55px;
		}
		&:nth-child(3) {
			margin-right: 36px;
		}
		&:hover {
			color: rgb(52, 199, 89);
			transition-duration: 0.3s;
			transition-delay: 0.1s;
		}
	}
}

// ------------------------------------------------
.healthy {
	width: 100%;
	background: url('../images/placeholder.png') top / cover no-repeat,
		linear-gradient(180deg, rgba(26, 26, 26, 0), rgb(26, 26, 26) 100%),
		rgba(33, 33, 33, 0.5);
	// .healthy__body

	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 170px;
		padding: 170px 112px 0px 112px;
	}

	// .healthy__title

	&__title {
		color: $main-white;
		font-size: 72px;
		font-weight: 300;
		line-height: 1.2;
		letter-spacing: 10%;
		text-transform: capitalize;
		margin-bottom: 16px;
		text-align: center;
		& span {
			font-weight: 600;
		}
	}

	// .healthy__text

	&__text {
		color: rgba(255, 255, 255, 0.5);
		font-size: 16px;
		font-weight: 100;
		line-height: 26px;
		letter-spacing: -0.2px;
		max-width: 595px;
		text-align: center;
		margin-bottom: 40px;
	}

	// .healthy__btn

	&__btn {
		border-radius: 43px;
		background: rgb(52, 199, 89);
		color: rgb(26, 26, 26);
		font-size: 18px;
		font-weight: 900;
		line-height: 22px;
		letter-spacing: 20%;
		padding: 25px 60px;
		margin-bottom: 70px;
	}

	// .healthy__about

	&__about {
	}
}
.about-healthy {
	display: flex;
	justify-content: space-between;
	width: 100%;
	// .about-healthy__item

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		& img {
			margin-bottom: 13px;
		}
	}

	// .about-healthy__data

	&__data {
		color: $main-white;
		font-size: 16px;
		font-weight: 100;
		line-height: 30px;
		letter-spacing: 0px;
		& a {
			color: $main-white;
			font-size: 16px;
			font-weight: 100;
			line-height: 30px;
			letter-spacing: 0px;
		}
	}

	// .about-healthy__explain

	&__explain {
		color: rgba(255, 255, 255, 0.5);
		font-size: 14px;
		font-weight: 400;
		line-height: 30px;
		letter-spacing: 0px;
		margin-bottom: 401px;
		& a {
			color: rgba(255, 255, 255, 0.5);
			font-size: 14px;
			font-weight: 400;
			line-height: 30px;
			letter-spacing: 0px;
		}
	}
}
.about-healthy__phone {
}
// ------------------------------------------------

.dishes {
	padding-top: 90px;

	margin-bottom: 60px;
	// @include nameOfMixin();
	&__top {
	}
	&__title {
		color: rgb(217, 217, 217);
		font-family: Helvetica Neue;
		font-size: 36px;
		font-weight: 400;
		line-height: 90px;
		letter-spacing: 20%;
		text-align: center;
		background: url('../images/dishes.png') center / contain no-repeat;
		margin-bottom: 60px;
	}

	// .dishes__items

	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
		row-gap: 30px;
		@media (max-width: 991.98px) {
			margin: 0 -7.5px;
		}
		@media (max-width: 767.98px) {
			margin: 0 -10px;
			row-gap: 20px;
		}
	}

	// .dishes__item

	&__item {
		flex: 1 1 33.333%;
		padding: 0 15px;
		min-width: 290px;
		@media (min-width: 1140px) {
			max-width: 380px;
		}
		@media (max-width: 991.98px) {
			padding: 0 7.5px;
		}
		@media (max-width: 767.98px) {
			padding: 0 10px;
		}
	}

	// .dishes__item-body

	&__item-body {
		display: flex;
		flex-direction: column;
		border-radius: 6px;
		height: 100%;
		box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
		background: rgb(37, 37, 37);
	}

	// .dishes__pictures

	&__picture {
		position: relative;
		padding: 0px 0px 74.28571428571429% 0px;
	}
	&__picture img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	// .dishes__content

	&__content {
		display: flex;
		flex-direction: column;
		padding: 29px 30px 24px 30px;
		flex: 1 1 auto;
		@media (max-width: 991.98px) {
			padding: 15px;
		}
	}

	// .dishes__content-title

	&__content-title {
		margin-bottom: 20px;
	}

	// .dishes__main-title

	&__main-title {
		color: $title-color;
		font-family: Helvetica Neue;
		font-size: 32px;
		font-weight: 400;
		line-height: 30px;
		letter-spacing: 0px;
		@media (max-width: 767.98px) {
			font-size: 26px;
		}
	}

	// .dishes__subtitle

	&__subtitle {
		color: rgb(164, 168, 178);
		font-family: Helvetica Neue;
		font-size: 12px;
		font-weight: 400;
		line-height: 16px;
		letter-spacing: -0.15px;
		@media (max-width: 767.98px) {
			font-size: 9px;
		}
	}

	// .dishes__text

	&__text {
		color: rgb(133, 135, 140);
		font-family: 'Helvetica Neue';
		font-size: 13px;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: -0.16px;
		margin-bottom: 20px;
		flex: 1 1 auto;
		@media (max-width: 767.98px) {
			font-size: 11px;
		}
	}

	// .dishes__bottom

	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		// @media (max-width: 991.98px) {
		// 	flex-direction: column;
		// }
	}

	// .dishes__stars

	&__stars img {
		width: 100%;
	}

	// .dishes__rate

	&__rate {
		color: rgb(179, 179, 179);
		font-size: 12px;
		font-weight: 900;
		line-height: 30px;
		letter-spacing: 1.5px;
		margin: 0 10px;
	}

	// .dishes__btn

	&__btn {
		// @media (max-width: 991.98px) {
		// 	width: 100%;
		// }
	}
}

.button {
	color: rgba(255, 255, 255, 0.5);
	font-size: 10px;
	font-weight: 900;
	line-height: 36px;
	letter-spacing: 20%;
	text-align: center;
	text-transform: uppercase;
	border: 2px solid rgb(48, 48, 48);
	border-radius: 30px;
	background: rgb(38, 38, 38);
	padding: 0 29.5px;
	&--green {
		background: rgb(52, 199, 89);
		border-color: rgb(52, 199, 89);
		color: rgb(37, 37, 37);
	}
}

[class*='__container'] {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}
/*! №1 */ /* Условный ПК и телевизор */
/* 1050 из макета (контейнер + отступы */
@media (max-width: 1140px) {
	[class*='__container'] {
		max-width: 970px;
	}
}
/*! №2 */ /*  Условный планшет */
@media (max-width: 991.98px) {
	[class*='__container'] {
		max-width: 750px;
	}
}
/*! №3 */ /* Условный мобильный телефон */
@media (max-width: 767.98px) {
	[class*='__container'] {
		max-width: none;
	}
}
// ---------------------------------

.recipes {
	color: $main-white;
	font-weight: 400;
	margin-bottom: 30px;
	// .recipes__container

	&__container {
	}

	// .recipes__block

	&__block {
		display: flex;
		margin: 0 -15px;
		position: relative;
		@media (max-width: 991.98px) {
			margin: 0 -7.5px;
		}
		@media (max-width: 767.98px) {
			flex-direction: column;
			row-gap: 15px;
		}
	}

	// .recipes__left-item

	&__item {
		display: flex;
		flex-direction: column;
		flex: 0 1 50%;
		padding: 0 15px;
		position: relative;
		@media (max-width: 991.98px) {
			padding: 0 7.5px;
		}

		&--left {
			// margin-left: 15px;
			text-align: center;
		}
		&--right {
			row-gap: 30px;
			@media (max-width: 991.98px) {
				row-gap: 15px;
			}
		}
	}

	&__link {
		display: flex;
		position: absolute;
		width: 40px;
		height: 40px;
		background-color: #000000a2;
		top: 30px;
		right: 30px;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
	}
	&__link img {
		transform: translateY(2px);
	}

	&__content {
		display: flex;
		flex-direction: column;
		background: url('../images/image.jpg') center/ cover no-repeat;
		flex: 1 1 auto;
		align-items: center;
		padding-top: 60px;
		padding-bottom: 62px;
		border-radius: 6px;
	}

	// .recipes__title

	&__btn {
		// margin-top: 60px;
		margin-bottom: 65px;
	}

	// .recipes__date

	&__date {
		font-size: 14px;
		line-height: 30px;
		letter-spacing: 0px;
		margin-bottom: 25px;
	}

	// .recipes__text

	&__text {
		font-size: 24px;
		line-height: 40px;
		letter-spacing: 0px;
		max-width: 411px;
		margin-bottom: 45px;
	}

	// .recipes__author

	&__author {
		font-size: 14px;
		line-height: 30px;
		letter-spacing: 0px;
		margin-bottom: 60px;
	}

	// .recipes__footer

	&__footer {
		display: flex;
		column-gap: 26px;
	}

	// .recipes__count

	&__count {
	}

	// .recipes__right-item

	&__right-item {
	}

	// .recipes__box

	&__box {
		display: flex;
		flex-direction: column;
		flex: 1 1 33.333%;
	}

	// .recipes__inner

	&__inner {
		padding: 30px 26px 20px 30px;
		border-radius: 6px;
		flex: 1 1 33.333%;
	}

	&__count {
		&--black {
			color: #000;
		}
	}
}
.btn {
	font-size: 10px;
	font-weight: 900;
	line-height: 25px;
	letter-spacing: 1.25px;
	text-transform: uppercase;
	color: $main-white;
	padding: 0 15px 0 16px;
	height: 25px;
	background-color: $main-black;
	border-radius: 6px;
	&--black {
		background-color: #000;
	}
}
.text {
}
.left-item {
	// .left-item__content
}
.counts {
	display: flex;
	column-gap: 26px;
	&--small {
		column-gap: 12px;
	}
}
.inner-box {
	&--grey {
		background: rgb(37, 37, 37);
		box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
	}
	&--pic {
		background: url('../images/image1.jpg') center / cover no-repeat;
	}
	&--green {
		background: rgb(52, 199, 89);
		box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
	}
	// .inner-box__text

	&__text {
		font-size: 16px;
		line-height: 30px;
		letter-spacing: 0px;
		margin-bottom: 10px;
	}

	// .inner-box__bottom

	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 991.98px) {
			flex-direction: column;
			row-gap: 15px;
		}
	}

	// .inner-box__left

	&__left {
		display: flex;
		gap: 15px;
		@media (max-width: 991.98px) {
			width: 100%;
			justify-content: space-between;
		}
	}

	// .inner-box__btn

	&__btn {
		display: inline-block;
	}

	// .inner-box__date

	&__date {
		color: rgb(179, 179, 179);
		font-size: 12px;
		font-weight: 400;
		line-height: 25px;
		letter-spacing: 0px;
		&--pic {
			color: $main-white;
		}
		&--black {
			color: rgb(26, 26, 26);
		}
	}

	// .inner-box__right

	&__right {
		display: flex;
		gap: 29px;
		@media (max-width: 991.98px) {
			width: 100%;
			justify-content: space-between;
		}
	}
}
