@import '_null';

@mixin nameOfMixin($fz: 40) {
	font-size: $fz;
}

$title-color: rgb(217, 217, 217);
$main-white: rgb(255, 255, 255);
$main-black: rgba(0, 0, 0, 0.3);

body {
	background: rgb(26, 26, 26);
	font-family: 'Helvetica Neue';
}

// ------------------------------------------------
.header {
	// .header__body

	&__body {
		position: relative;
	}
	&__content {
		position: absolute;
		display: flex;
		justify-content: space-between;
		height: 90px;
		align-items: center;
		border-bottom: 2px solid rgba(255, 255, 255, 0.1);
		width: 100%;
		@media (max-width: 479.98px) {
			flex-direction: column;
		}
	}

	// .header__logo

	&__logo {
		position: relative;
		bottom: 4px;
		@media (max-width: 479.98px) {
			bottom: 0;
			margin-top: 10px;
			margin-bottom: 18px;
		}
	}

	// .header__menu

	&__menu {
		display: flex;
		padding-right: 10px;
		@media (max-width: 767.98px) {
			justify-content: space-between;
			flex: 0 1 250px;
			margin-left: 30px;
		}
		@media (max-width: 479.98px) {
			margin-left: 0;
			flex: 1 1 auto;
			justify-content: space-between;
			padding-left: 10px;
			width: 100%;
		}
	}

	// .header__item

	&__item {
		font-size: 14px;
		font-weight: 500;
		line-height: 90px;
		letter-spacing: 0px;
		@media (max-width: 767.98px) {
			font-size: 12px;
		}
		@media (max-width: 479.98px) {
			line-height: 18px;
		}
		&:nth-child(1) {
			margin-right: 45px;
			@media (max-width: 767.98px) {
				margin-right: 0;
			}
		}
		&:nth-child(2) {
			margin-right: 55px;
			@media (max-width: 767.98px) {
				margin-right: 0;
			}
		}
		&:nth-child(3) {
			margin-right: 36px;
			@media (max-width: 767.98px) {
				margin-right: 0;
			}
		}
		&:hover {
			color: rgb(52, 199, 89);
			transition-duration: 0.3s;
			transition-delay: 0.1s;
			text-shadow: 0px 0px 5px;
		}
	}
}

// ------------------------------------------------
.healthy {
	width: 100%;
	background: url('../images/placeholder.png') top / cover no-repeat,
		linear-gradient(180deg, rgba(26, 26, 26, 0), rgb(26, 26, 26) 100%),
		rgba(33, 33, 33, 0.5);
	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 170px;
		padding: 170px 112px 161px 112px;
		@media (max-width: 991.98px) {
			padding: 150px 10px 50px 10px;
		}
		@media (max-width: 767.98px) {
			padding: 115px 10px 0px 10px;
		}
	}

	// .healthy__title

	&__title {
		color: $main-white;
		font-size: 72px;
		font-weight: 300;
		line-height: 1.2;
		letter-spacing: 10%;
		text-transform: capitalize;
		margin-bottom: 16px;
		text-align: center;
		@media (max-width: 1140px) {
			font-size: 65px;
		}
		@media (max-width: 767.98px) {
			font-size: 40px;
			margin-bottom: 10px;
		}

		& span {
			font-weight: 600;
		}
	}

	// .healthy__text

	&__text {
		color: rgba(255, 255, 255, 0.5);
		font-size: 16px;
		font-weight: 100;
		line-height: 26px;
		letter-spacing: -0.2px;
		max-width: 595px;
		text-align: center;
		margin-bottom: 40px;
		@media (max-width: 767.98px) {
			font-size: 13px;
			margin-bottom: 0;
		}
	}
	&__button {
		padding-top: 25px;
		padding-bottom: 25px;
		margin-bottom: 70px;
		@media (max-width: 767.98px) {
			margin-bottom: 40px;
		}
	}
	// .healthy__btn

	&__btn {
		border-radius: 43px;
		background: rgb(52, 199, 89);
		color: rgb(26, 26, 26);
		font-size: 18px;
		font-weight: 900;
		line-height: 22px;
		letter-spacing: 20%;
		padding: 25px 60px;

		text-align: center;
		@media (max-width: 767.98px) {
			padding: 10px 40px;
			font-size: 14px;
			width: 100%;
		}
		&:hover {
			color: rgb(219, 213, 213);
			background: rgba(32, 173, 67, 0.5);
			outline: 3px solid rgb(32, 173, 67);
			outline-offset: 1px;
			transition: all 0.2s ease 0.1s;
		}
	}

	// .healthy__about

	&__about {
	}
}
.about-healthy {
	display: flex;
	justify-content: space-between;
	width: 100%;
	flex-wrap: wrap;
	@media (max-width: 479.98px) {
		flex-direction: column;
		row-gap: 35px;
	}
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex: 0 1 33.333%;
		@media (max-width: 767.98px) {
			flex: 0 1 auto;
		}
		& img {
			margin-bottom: 13px;
		}
	}

	// .about-healthy__data

	&__data {
		color: $main-white;
		font-size: 16px;
		font-weight: 100;
		line-height: 30px;
		letter-spacing: 0px;
		text-align: center;
		flex: 1 1 33.333%;
		@media (max-width: 767.98px) {
			font-size: 13px;
		}
		& a {
			color: $main-white;
			font-size: 16px;
			font-weight: 100;
			line-height: 30px;
			letter-spacing: 0px;
			@media (max-width: 767.98px) {
				font-size: 13px;
			}
		}
	}

	// .about-healthy__explain

	&__explain {
		color: rgba(255, 255, 255, 0.5);
		font-size: 14px;
		font-weight: 400;
		line-height: 2.1;
		letter-spacing: 0px;
		@media (max-width: 767.98px) {
			font-size: 10px;
			line-height: 2.1;
		}
		& a {
			color: rgba(255, 255, 255, 0.5);
			font-size: 14px;
			font-weight: 400;
			line-height: 30px;
			letter-spacing: 0px;
			@media (max-width: 767.98px) {
				font-size: 10px;
			}
		}
	}
}
.about-healthy__phone {
}
// ------------------------------------------------

.dishes {
	padding-top: 90px;
	@media (max-width: 767.98px) {
		padding-top: 45px;
	}

	// @include nameOfMixin();
	&__top {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 60px;
	}
	&__title {
		background: url('../images/dishes.png') center / contain no-repeat;
	}
	&__line {
	}

	// .dishes__items

	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
		row-gap: 30px;
		@media (max-width: 991.98px) {
		}
		@media (max-width: 767.98px) {
			margin: 0 -7.5px;
			row-gap: 15px;
		}
	}

	// .dishes__item

	&__item {
		flex: 1 1 33.333%;
		padding: 0 15px;
		min-width: 290px;
		@media (min-width: 1140px) {
			max-width: 380px;
		}
		@media (max-width: 991.98px) {
		}
		@media (max-width: 767.98px) {
			padding: 0 7.5px;
		}
	}

	// .dishes__item-body

	&__item-body {
		display: flex;
		flex-direction: column;
		border-radius: 6px;
		height: 100%;
		box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
		background: rgb(37, 37, 37);
	}

	// .dishes__pictures

	&__picture {
		position: relative;
		padding: 0px 0px 74.28571428571429% 0px;
	}
	&__picture img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.7;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		&:hover {
			opacity: 1;
			transition: 0.3s linear 0s;
		}
	}

	// .dishes__content

	&__content {
		display: flex;
		flex-direction: column;
		padding: 29px 30px 24px 30px;
		flex: 1 1 auto;
		@media (max-width: 991.98px) {
			padding: 15px;
		}
	}

	// .dishes__content-title

	&__content-title {
		margin-bottom: 20px;
	}

	// .dishes__main-title

	&__main-title {
		color: $title-color;
		font-family: Helvetica Neue;
		font-size: 32px;
		font-weight: 400;
		line-height: 30px;
		letter-spacing: 0px;
		@media (max-width: 767.98px) {
			font-size: 26px;
		}
	}

	// .dishes__subtitle

	&__subtitle {
		color: rgb(164, 168, 178);
		font-family: Helvetica Neue;
		font-size: 12px;
		font-weight: 400;
		line-height: 16px;
		letter-spacing: -0.15px;
		@media (max-width: 767.98px) {
			font-size: 9px;
		}
	}

	// .dishes__text

	&__text {
		color: rgb(133, 135, 140);
		font-family: 'Helvetica Neue';
		font-size: 13px;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: -0.16px;
		margin-bottom: 20px;
		flex: 1 1 auto;
		@media (max-width: 767.98px) {
			font-size: 11px;
		}
	}

	// .dishes__bottom

	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		// @media (max-width: 991.98px) {
		// 	flex-direction: column;
		// }
	}

	// .dishes__stars

	&__stars img {
		width: 100%;
	}

	// .dishes__rate

	&__rate {
		color: rgb(179, 179, 179);
		font-size: 12px;
		font-weight: 900;
		line-height: 30px;
		letter-spacing: 1.5px;
		margin: 0 10px;
	}

	// .dishes__btn

	&__btn {
		// @media (max-width: 991.98px) {
		// 	width: 100%;
		// }
	}
}
.title {
	color: rgb(217, 217, 217);
	font-family: Helvetica Neue;
	font-size: 36px;
	font-weight: 400;
	line-height: 90px;
	letter-spacing: 20%;
	padding: 18px 29px;
	text-align: center;
	text-transform: capitalize;

	@media (max-width: 767.98px) {
		font-size: 24px;
	}
}
.line {
	width: 60px;
	height: 2px;
	background: rgb(52, 199, 89);
}

.button {
	color: rgba(255, 255, 255, 0.5);
	font-size: 10px;
	font-weight: 900;
	line-height: 36px;
	letter-spacing: 20%;
	text-align: center;
	text-transform: uppercase;
	border: 1px solid rgb(48, 48, 48);
	border-radius: 30px;
	background: rgb(38, 38, 38);
	padding: 0 29.5px;
	outline: 1px solid rgb(48, 48, 48);
	&:hover {
		color: rgb(219, 213, 213);
		background: rgb(51, 51, 51);
		outline: 1px solid rgb(48, 48, 48);
		outline-offset: 3px;
		transition: all 0.2s linear 0s;
		border-color: transparent;
	}
	&--green {
		background: rgb(52, 199, 89);
		border-color: rgb(52, 199, 89);
		color: rgb(37, 37, 37);
		&:hover {
			color: rgb(219, 213, 213);
			background: rgb(32, 173, 68);
			outline: 1px solid rgb(32, 173, 68);
			outline-offset: 3px;
			transition: all 0.2s linear 0s;
		}
	}
}

[class*='__container'] {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 15px;
}
/*! №1 */ /* Условный ПК и телевизор */
/* 1050 из макета (контейнер + отступы */
@media (max-width: 1140px) {
	[class*='__container'] {
		max-width: 970px;
	}
}
/*! №2 */ /*  Условный планшет */
@media (max-width: 991.98px) {
	[class*='__container'] {
		max-width: 750px;
	}
}
/*! №3 */ /* Условный мобильный телефон */
@media (max-width: 767.98px) {
	[class*='__container'] {
		max-width: none;
	}
}
// ---------------------------------
.work {
	// .work__container

	&__container {
	}

	// .work__top

	&__top {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 60px;
	}

	// .work__title

	&__title {
		background: url('../images/work.png') center / contain no-repeat;
	}

	// .work__line

	&__line {
	}

	// .work__block

	&__block {
	}

	// .work__items

	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
		padding-bottom: 45px;
		row-gap: 30px;
		@media (max-width: 991.98px) {
			margin: 0 -7.5px;
			row-gap: 15px;
		}
	}

	// .work__item

	&__item {
		flex: 1 1 25%;
		padding: 0 15px;
		@media (max-width: 991.98px) {
			padding: 0 7.5px;
		}
	}
}
.title {
}
.line {
}
.item-work {
	// .item-work__content

	&__content {
		display: flex;
		flex-direction: column;
		border-radius: 6px;
		box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
		background: rgb(37, 37, 37);
		// flex: 1 1 auto;
		height: 100%;
		padding: 24px 24px 42px 24px;
		min-width: 212px;
		@media (max-width: 767.98px) {
		}
		&:hover {
			background: rgb(52, 199, 89);
			color: rgb(25, 25, 25);
			transition: all 0.2s linear 0.05s;
			& .item-work__title {
				color: rgb(25, 25, 25);
				transition: all 0.3s linear 0.1s;
			}
			& .item-work__line {
				background: rgb(25, 25, 25);
				transition: all 0.3s linear 0.1s;
				width: 100%;
			}
			& .item-work__text {
				color: rgb(25, 25, 25);
				transition: all 0.2s linear 0.1s;
			}
		}
		& *:not(:last-child) {
			margin-bottom: 24px;
		}
	}

	// .item-work__title

	&__title {
		color: $main-white;
		font-size: 22px;
		line-height: 26px;
		letter-spacing: -0.28px;
		text-transform: capitalize;
		@media (max-width: 1140px) {
			font-size: 19px;
		}
		@media (max-width: 991.98px) {
			font-size: 18px;
		}
	}

	// .item-work__line

	&__line {
	}

	// .item-work__text

	&__text {
		color: rgba(255, 255, 255, 0.5);
		font-size: 13px;
		line-height: 18px;
		letter-spacing: -0.16px;
		flex: 1 1 auto;
		@media (max-width: 767.98px) {
			font-size: 10px;
		}
	}
}

// ---------------------------------

.recipes {
	color: $main-white;
	font-weight: 400;
	margin-bottom: 30px;
	// .recipes__container

	&__container {
	}

	// .recipes__block

	&__block {
		display: flex;
		margin: 0 -15px;
		position: relative;
		@media (max-width: 991.98px) {
			margin: 0 -7.5px;
		}
		@media (max-width: 767.98px) {
			flex-direction: column;
			row-gap: 15px;
		}
	}

	// .recipes__left-item

	&__item {
		display: flex;
		flex-direction: column;
		flex: 0 1 50%;
		padding: 0 15px;
		position: relative;
		@media (max-width: 991.98px) {
			padding: 0 7.5px;
		}

		&--left {
			// margin-left: 15px;
			text-align: center;
		}
		&--right {
			row-gap: 30px;
			@media (max-width: 991.98px) {
				row-gap: 15px;
			}
		}
	}

	&__link {
		display: flex;
		position: absolute;
		width: 40px;
		height: 40px;
		background-color: #000000a2;
		top: 30px;
		right: 30px;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		outline: 1px solid transparent;
		&:hover {
			transform: scale(1.1);
			transition: 0.1s linear 0.1s;
			outline: 1px solid rgb(25, 25, 25);
			outline-offset: 1px;
		}
	}
	&__link img {
		transform: translateY(2px);
	}
	&__media {
		display: flex;
		flex-direction: column;
		background-color: #fff;
	}
	&__content {
		display: flex;
		flex-direction: column;
		background: url('../images/image.jpg') center/ cover no-repeat;
		flex: 1 1 auto;
		align-items: center;
		padding-top: 60px;
		padding-bottom: 62px;
		border-radius: 6px;
		&:hover {
			background: url('../images/image0.jpg') center/ cover no-repeat;
			transition: 0.2s linear 0s;
		}
	}

	// .recipes__title

	&__btn {
		// margin-top: 60px;
		margin-bottom: 65px;
		&:hover {
			transform: scale(1.1);
		}
	}

	// .recipes__date

	&__date {
		color: $main-white;
		font-size: 14px;
		line-height: 30px;
		letter-spacing: 0px;
		margin-bottom: 25px;
	}

	// .recipes__text

	&__text {
		color: $main-white;
		font-size: 24px;
		line-height: 40px;
		letter-spacing: 0px;
		max-width: 411px;
		margin-bottom: 45px;
	}

	// .recipes__author

	&__author {
		color: $main-white;
		font-size: 14px;
		line-height: 30px;
		letter-spacing: 0px;
		margin-bottom: 60px;
	}

	// .recipes__footer

	&__footer {
		display: flex;
		column-gap: 26px;
	}

	// .recipes__count

	&__count {
		color: $main-white;
	}

	// .recipes__right-item

	&__right-item {
	}

	// .recipes__box

	&__box {
		display: flex;
		flex-direction: column;
		flex: 1 1 33.333%;
	}

	// .recipes__inner

	&__inner {
		padding: 30px 26px 20px 30px;
		border-radius: 6px;
		flex: 1 1 33.333%;
	}

	&__count {
		&--black {
			color: #000;
		}
	}
}
.btn {
	font-size: 10px;
	font-weight: 900;
	line-height: 25px;
	letter-spacing: 1.25px;
	text-transform: uppercase;
	color: $main-white;
	padding: 0 15px 0 16px;
	height: 25px;
	background-color: $main-black;
	border-radius: 6px;
	&:hover {
		transform: scale(1.05);
		transition: 0.2s linear 0s;
	}
	&--black {
		background-color: #000;
	}
}
.text {
}
.left-item {
	// .left-item__content
}
.counts {
	display: flex;
	column-gap: 26px;
	&--small {
		column-gap: 12px;
	}
}
.inner-box {
	&--grey {
		background: rgb(37, 37, 37);
		box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
		&:hover {
			background: rgb(61, 61, 61);
			transition: 0.2s linear 0s;
		}
	}
	&--pic {
		background: url('../images/image1.jpg') center / cover no-repeat;
		&:hover {
			background: url('../images/image1-1.jpg') center/ cover no-repeat;
			transition: 0.2s linear 0s;
		}
	}
	&--green {
		background: rgb(52, 199, 89);
		box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
		&:hover {
			background: rgb(94, 240, 130);
		}
	}
	// .inner-box__text

	&__text {
		font-size: 16px;
		line-height: 30px;
		letter-spacing: 0px;
		margin-bottom: 10px;
	}

	// .inner-box__bottom

	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 991.98px) {
			flex-direction: column;
			row-gap: 15px;
		}
	}

	// .inner-box__left

	&__left {
		display: flex;
		gap: 15px;
		@media (max-width: 991.98px) {
			width: 100%;
			justify-content: space-between;
		}
	}

	// .inner-box__btn

	&__btn {
		display: inline-block;
	}

	// .inner-box__date

	&__date {
		color: rgb(179, 179, 179);
		font-size: 12px;
		font-weight: 400;
		line-height: 25px;
		letter-spacing: 0px;
		&--pic {
			color: $main-white;
		}
		&--black {
			color: rgb(26, 26, 26);
		}
	}

	// .inner-box__right

	&__right {
		display: flex;
		gap: 29px;
		@media (max-width: 991.98px) {
			width: 100%;
			justify-content: space-between;
		}
	}
}
